In [314]:
import json
import requests
import pandas as pd # module to convert an address into latitude and longitude values
import folium
from geopy.geocoders import Nominatim #Module for converting the address into latitude and longitude value
from IPython.display import display
from bs4 import BeautifulSoup #Helps us to get the HTML structure of the page
import geopandas as gpd

In [315]:
Address = '75 Thorncliffe Park Dr, Toronto, Ontario'

geolocation = Nominatim(user_agent="foursquare_agent")
location = geolocation.geocode(Address)
latitude = location.latitude
longitude = location.longitude

query = "Food"
limit = 10
radius = 500
print(latitude, longitude)

43.7049593 -79.3419739

In [316]:
#Call to the api using the stored variables
url = "https://api.foursquare.com/v3/places/search?query={}&ll={},{}&radius={}".format(query,latitude,longitude, radius)

headers = {
    "Accept": "application/json",
    "Authorization": "fsq30W5Rz0P5HJTL4F1jGkXsg37CiGhYOejnEqQCPdKwfUI="
}

#Response from the call
response = requests.request("GET", url, headers=headers)

#Convert the data to JSON
json_data = json.loads(response.text)

#Get the result and store it in list
listt = json_data["results"]

#For every hash, find the key "name"
for restaurant in listt: 
    print(restaurant["name"])


mymap = folium.Map(location=[43.70, -79.34], zoom_start=0)
mymap.save('mymap.html')

Bamiyan Kabob
A&W Restaurant
Pasha Authentic Turkish Cuisine
Faley Restaurant
Afghan Cuisine
Anatolian's Turkish Halal Restaurant
Popeye's Louisiana Kitchen
Hero Certified Burgers
Swiss Chalet Rotisserie & Grill
Capital Sweet Smousa

In [317]:

torontodata = pd.read_csv('Neighbourhoods_data.csv')
#list(torontodata)
#torontodata.head(1)

#Display all the data from the coloumn LATITUDE
#torontodata.loc[:, ['AREA_ID']]

In [318]:
#Create a list to store postal codes and neighborhood names
postalCode=[]
neighborhood=[]

#Website to extract the data from
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

#Get the website and change it into HTML format
soup = BeautifulSoup(source,'html.parser')

table = soup.find().tbody

#find all rows that contain the body tag
row = table.findAll('b')

#for each column in the the row, find the body text(postal code)
for column in row:
    #Add it to the postal code list
    postalCode.append(column.get_text())
    #print(column.get_text()) #Check what is printing out

#find all rows that contain the body tag
row = table.findAll('span')

#for each column in the the row, find the span text(neighborhood)
for column in row:
    #Add it to the neighborhood list
    neighborhood.append(column.get_text())
    #print(column.get_text())

#Add postal code and neighborhood to the dataframe
df = pd.DataFrame({'PostalCode':postalCode,'Neighborhood':neighborhood})
print(df)

    PostalCode                                       Neighborhood
0          M1A                                       Not assigned
1          M2A                                       Not assigned
2          M3A                              North York(Parkwoods)
3          M4A                       North York(Victoria Village)
4          M5A       Downtown Toronto(Regent Park / Harbourfront)
..         ...                                                ...
175        M5Z                                       Not assigned
176        M6Z                                       Not assigned
177        M7Z                                       Not assigned
178        M8Z  Etobicoke(Mimico NW / The Queensway West / Sou...
179        M9Z                                       Not assigned

[180 rows x 2 columns]

In [319]:
#Create a list to store postal codes and neighborhood names
postalCode=[]
neighborhood=[]
district = []

#Website to extract the data from
url = "https://www.zipcodesonline.com/2020/06/postal-code-of-toronto-in-2020.html"

#Read the html tables into a list
scrapper = pd.read_html(url,skiprows=2)

#Store the date into the list 
neighborhood = scrapper[0][1]
postalCode = scrapper[0][2]
district =  scrapper[0][3]

#Check if data is right
#print(neighborhood)
#print(postalCode)
#print(district)

#Create a data fram and store the scraped data
postalCodeWithNeighborhood = pd.DataFrame({'Postal Code':postalCode,'Neighborhood':neighborhood, 'District':district})
postalCodeWithNeighborhood.columns = ['Postal Code', 'Neighborhood', 'District']

#postalCodeWithNeighborhood.index += 1 #start the index from 1 and not zero

postalCodeWithNeighborhood.sort_values(by=['Postal Code'])
#Display the postal code through column postal code
#postalCodeWithNeighborhood.loc[:, "Postal Code"]

#postalCodeWithNeighborhood.head()

    Postal Code            Neighborhood     District
141         M1B                   Rouge  Scarborough
97          M1B                 Malvern  Scarborough
65          M1C          Highland Creek  Scarborough
140         M1C              Rouge Hill  Scarborough
128         M1C              Port Union  Scarborough
..          ...                     ...          ...
111         M9V             Mount Olive    Etobicoke
3           M9V          Albion Gardens    Etobicoke
71          M9V              Humbergate    Etobicoke
117         M9W               Northwest    Etobicoke
192         M9W  West Humber Clairville    Etobicoke

[205 rows x 3 columns]

In [355]:
# Get the dataset metadata by passing package_id to the package_search endpoint
# For example, to retrieve the metadata for this dataset:
 
postalCodeLongLat = pd.read_csv('PostalCode_Longitute_Latitude.csv')
#Constructing Hash

postalCodeLongLat.rename(columns={'Postal Code':'Postal Code'}, inplace=True)


postalCodeLongLat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [370]:
#Join the data only if the postal code key matches
mergeData = postalCodeWithNeighborhood.join(postalCodeLongLat.set_index('Postal Code'), on= 'Postal Code')

mergeData.rename(columns={'Postal Code':'Postal Code', 'Postal Code':'Postal Code', 'Neighbourhood': 'Neighbourhood', 'District': 'District', 'Latitude':'Latitude', 'Longitude':'Longitude'}, inplace=True)

#Sort the data in terms of postal code (Ascending Ordre)
mergeData.sort_values(['Postal Code'], inplace=True)
mergeData.to_csv(r'temp.csv')

In [383]:
#SHREYA

#Income in each neighborhood
df = pd.read_csv('neighbourhood-profiles-2016.csv')
df.head()
del df['Topic']
del df['Category']
df.rename(columns = {'Characteristic':'Neighborhood'}, inplace = True)

#Extracting column for income
df1 = df.iloc[[1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053]]

#Flips rows and columns
df2 = df1.transpose()
df2.head()

print(df2.columns)
#df2.columns[""]

#df2.to_csv("Shreya.csv")

Int64Index([1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047,
            1048, 1049, 1050, 1051, 1052, 1053],
           dtype='int64')

In [418]:
newData = pd.read_csv('neighbourhood-profiles-2016.csv')
newData.drop(newData.columns[[0, 1, 3]],inplace=True, axis=1)
newData.set_index('Topic',inplace=True) #set index before transponse.
dfNew = newData.T  #Transpose   
dfNew.reset_index(inplace=True) #reset index of dataframe
for col in dfNew.columns:
    try:
        col.strip()
    except:
        print(col)
dfNew.rename(columns={'index': 'Neighbourhood'},inplace = True) #rename column header
dfNew.drop(dfNew.columns.difference(['Income of households in 2015', 'Neighbourhood']), 1, inplace=True)
dfNew.columns = dfNew.iloc[0] #these next 3 lines remove top row
dfNew = dfNew.reindex(dfNew.index.drop(0)).reset_index(drop=True)
dfNew.columns.name = None 
dfNew.rename(columns={'Characteristic' : 'Neighbourhood'}, inplace=True)
print(dfNew.columns)

#neighbourhoodCol = dfNew[['Neighbourhood']].copy()
#dfNew = dfNew.loc[:,'Total - Household after-tax income groups in 2015 for private households - 100% data':]

#print(dfNew.columns)
#dfNew.to_csv("income.csv")

Index(['Neighbourhood', '    $150,000 to $199,999',
       '      Median total income of one-person households in 2015 ($)',
       'Total - Income statistics in 2015 for private households by household size - 100% data',
       '  Median total income of households in 2015 ($)',
       '  Median after-tax income of households in 2015 ($)',
       '    Total - Income statistics in 2015 for one-person private households - 100% data',
       '  $15,000 to $19,999',
       '      Median after-tax income of one-person households in 2015 ($)',
       '    Total - Income statistics in 2015 for two-or-more-person private households - 100% data',
       '      Median total income of two-or-more-person households in 2015 ($)',
       '      Median after-tax income of two-or-more-person households in 2015 ($)',
       'Total - Income statistics in 2015for private households by household size - 25% sampledata',
       '  Average total income of households in 2015 ($)',
       '    $100,000 to $124,999',
       '  Average after-tax income of households in 2015 ($)',
       '    Total - Income statistics in 2015 for one-person private households - 25% sample data',
       '      Average total income of one-person households in 2015 ($)',
       '      Average after-tax income of one-person households in 2015 ($)',
       '    Total - Income statistics in 2015 for two-or-more-person private households - 25% sample data',
       '      Average total income of two-or-more-person households in 2015 ($)',
       '    $125,000 to $149,999',
       '      Average after-tax income of two-or-more-person households in 2015 ($)',
       'Total - Household total income groups in 2015 for private households - 100% data',
       '  Under $5,000', '  $5,000 to $9,999', '  $10,000 to $14,999',
       '  $20,000 to $24,999', '  $25,000 to $29,999', '  $30,000 to $34,999',
       '  $35,000 to $39,999', '  $40,000 to $44,999', '  $45,000 to $49,999',
       '  $50,000 to $59,999', '  $60,000 to $69,999', '  $70,000 to $79,999',
       '  $80,000 to $89,999', '  $90,000 to $99,999', '  $100,000 and over',
       '    $200,000 and over',
       'Total - Household after-tax income groups in 2015 for private households - 100% data',
       '  Under $5,000', '  $5,000 to $9,999', '  $10,000 to $14,999',
       '  $15,000 to $19,999', '  $20,000 to $24,999', '  $25,000 to $29,999',
       '  $30,000 to $34,999', '  $35,000 to $39,999', '  $40,000 to $44,999',
       '  $45,000 to $49,999', '  $50,000 to $59,999', '  $60,000 to $69,999',
       '  $70,000 to $79,999', '  $80,000 to $89,999', '  $90,000 to $99,999',
       '  $100,000 and over', '    $100,000 to $124,999',
       '    $125,000 to $149,999', '    $150,000 to $199,999'],
      dtype='object')

/var/folders/6c/6z47j0dj61g66k6z36qdtd5r0000gn/T/ipykernel_20449/1499387946.py:12: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  dfNew.drop(dfNew.columns.difference(['Income of households in 2015', 'Neighbourhood']), 1, inplace=True)

In [444]:
#Load CSV File
df = pd.read_csv('neighbourhood-profiles-2016.csv')

#Drop first 3 columns
df.drop(df.columns[[0,1,3]], inplace=True, axis = 1)


df.set_index('Topic', inplace = True)
NeighborhoodIncomes = df.transpose()

NeighborhoodIncomes.reset_index(inplace=True) #reset index of dataframe
for column in NeighborhoodIncomes.columns:
    try:
        column.strip()
    except:
        print(column)

NeighborhoodIncomes.rename(columns={'index': 'Neighbourhood'},inplace = True) #rename column header
NeighborhoodIncomes.drop(NeighborhoodIncomes.columns.difference(['Income of households in 2015', 'Neighbourhood']), axis=1, inplace=True)
NeighborhoodIncomes.columns = NeighborhoodIncomes.iloc[0] #these next 3 lines remove top row
NeighborhoodIncomes = NeighborhoodIncomes.reindex(NeighborhoodIncomes.index.drop(0)).reset_index(drop=True)
NeighborhoodIncomes.columns.name = None 
NeighborhoodIncomes.rename(columns={'Characteristic' : 'Neighbourhood'}, inplace=True)

print(NeighborhoodIncomes.columns)

neighbourhoodCol = NeighborhoodIncomes[['Neighbourhood']].copy()

#Get the column data only
NeighborhoodIncomes = NeighborhoodIncomes.loc[:,'Total - Household total income groups in 2015 for private households - 100% data':'    $200,000 and over']

temp = neighbourhoodCol.join(NeighborhoodIncomes)

temp.to_csv("income.csv")
#NeighborhoodIncomes.to_csv("income.csv")

Index(['Neighbourhood', '    $150,000 to $199,999',
       '      Median total income of one-person households in 2015 ($)',
       'Total - Income statistics in 2015 for private households by household size - 100% data',
       '  Median total income of households in 2015 ($)',
       '  Median after-tax income of households in 2015 ($)',
       '    Total - Income statistics in 2015 for one-person private households - 100% data',
       '  $15,000 to $19,999',
       '      Median after-tax income of one-person households in 2015 ($)',
       '    Total - Income statistics in 2015 for two-or-more-person private households - 100% data',
       '      Median total income of two-or-more-person households in 2015 ($)',
       '      Median after-tax income of two-or-more-person households in 2015 ($)',
       'Total - Income statistics in 2015for private households by household size - 25% sampledata',
       '  Average total income of households in 2015 ($)',
       '    $100,000 to $124,999',
       '  Average after-tax income of households in 2015 ($)',
       '    Total - Income statistics in 2015 for one-person private households - 25% sample data',
       '      Average total income of one-person households in 2015 ($)',
       '      Average after-tax income of one-person households in 2015 ($)',
       '    Total - Income statistics in 2015 for two-or-more-person private households - 25% sample data',
       '      Average total income of two-or-more-person households in 2015 ($)',
       '    $125,000 to $149,999',
       '      Average after-tax income of two-or-more-person households in 2015 ($)',
       'Total - Household total income groups in 2015 for private households - 100% data',
       '  Under $5,000', '  $5,000 to $9,999', '  $10,000 to $14,999',
       '  $20,000 to $24,999', '  $25,000 to $29,999', '  $30,000 to $34,999',
       '  $35,000 to $39,999', '  $40,000 to $44,999', '  $45,000 to $49,999',
       '  $50,000 to $59,999', '  $60,000 to $69,999', '  $70,000 to $79,999',
       '  $80,000 to $89,999', '  $90,000 to $99,999', '  $100,000 and over',
       '    $200,000 and over',
       'Total - Household after-tax income groups in 2015 for private households - 100% data',
       '  Under $5,000', '  $5,000 to $9,999', '  $10,000 to $14,999',
       '  $15,000 to $19,999', '  $20,000 to $24,999', '  $25,000 to $29,999',
       '  $30,000 to $34,999', '  $35,000 to $39,999', '  $40,000 to $44,999',
       '  $45,000 to $49,999', '  $50,000 to $59,999', '  $60,000 to $69,999',
       '  $70,000 to $79,999', '  $80,000 to $89,999', '  $90,000 to $99,999',
       '  $100,000 and over', '    $100,000 to $124,999',
       '    $125,000 to $149,999', '    $150,000 to $199,999'],
      dtype='object')

In [456]:
print(mergeData.columns)
print(temp.columns)

#Add Income to final data
#finalData = mergeData.set_index('Neighborhood').join(temp.set_index('Neighbourhood'), on='Neighborhood')


#finalData.replace("", "NaN", inplace=True)
#finalData.dropna(how='all', axis=1, inplace=True)

finalData2 = temp.set_index('Neighbourhood').join(mergeData.set_index('Neighborhood'))


finalData2.to_csv("final.csv")

Index(['Postal Code', 'Neighborhood', 'District', 'Latitude', 'Longitude'], dtype='object')
Index(['Neighbourhood',
       'Total - Household total income groups in 2015 for private households - 100% data',
       '  Under $5,000', '  $5,000 to $9,999', '  $10,000 to $14,999',
       '  $20,000 to $24,999', '  $25,000 to $29,999', '  $30,000 to $34,999',
       '  $35,000 to $39,999', '  $40,000 to $44,999', '  $45,000 to $49,999',
       '  $50,000 to $59,999', '  $60,000 to $69,999', '  $70,000 to $79,999',
       '  $80,000 to $89,999', '  $90,000 to $99,999', '  $100,000 and over',
       '    $200,000 and over'],
      dtype='object')

In [1]:
shapeFile = 'Neighbourhoods.shp'
shape_df = gpd.read_file(shapeFile)

shape_df['Neighbourhood'] = shape_df['FIELD_7'].str.replace(r"\(.*\)","") 
shape_df['Neighbourhood'] = shape_df['Neighbourhood'].str.strip()

NameError: name 'gpd' is not defined